

!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'application/html_head', args: {}

		= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
	%body
		.container.home-container
			.row
				#menu
					= render 'application/nav_list', args: {}
				.sidebar.col-md-5.col-sm-12
					%span.menu-trigger.side-writer-icon.animated.fadeInDown
						%span.bar
						%span.bar
						%span.bar
					%noscript
						.no-js-menu
							= render 'application/nav_list', args: {}

					.site-info
						.primary-info
							
							%h1
								= image_tag User.first.avatar_url, class: 'img img-circle'
								Hi, I'm Gk
							%p
								A dad, hacker, entrepreneur just trying to make his way in the world.

				.col-md-7.col-sm-12.col-md-offset-5.main-content
					.hidden-sm.hidden-xs{ style: 'float:right;margin-top:-3em;'}
						= render 'application/nav_list', args: { class: 'inline-list' }
					.clearfix
					= render 'application/flash'
					.nav
						%a.select-posts.active{ href: '#' }
							Posts
						%a.select-categories{ href: '#' }
							Categories

					.home-page-posts.animated.fadeIn
						- SwellMedia::Article.active.order( publish_at: :desc ).limit( 6 ).each do |article|
							= render 'swell_media/articles/row', article: article
					.home-page-categories.hide.animated.fadeIn
						.category.row
							%section
								- SwellMedia::Category.active.each do |cat|
									.category-preview.col-xs-12.col-sm-6
										.thumbnail
											%a{ href: swell_media.articles_path( category: cat.slug ) }
												= image_tag cat.avatar, alt: "category-image", class: 'img img-responsive'
												.caption
													%h4
														= cat.name

		= render 'application/footer'

		= render 'application/analytics'

		= javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
