

!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'application/html_head', args: {}
		%meta{ name: 'google-site-verification', content: 'ZFV6HEx_XMaL2ERsCdechDSiVrqpA0hEEcPXYzEaEPY' }

		= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
	%body
		.container.home-container
			.row
				#menu
					= render 'application/nav_list', args: {}
				.sidebar.col-md-5.col-sm-12
					%span.menu-trigger.side-writer-icon.animated.fadeInDown
						%span
							%p{ style: 'font-size: 150%;font-weight:700;color:#eee;margin-top:4px;margin-bottom:4px;'}
								Gk
					%noscript
						.no-js-menu
							= render 'application/nav_list', args: {}

					.site-info
						.primary-info
							
							%h1
								= image_tag User.first.avatar_url, class: 'img img-circle'
								%span{ style: 'font-size: 125%;margin-left:12px;' }
									Hi, I'm Gk
							%p
								dad, thinker, product hacker, entrepreneur
						.secondary-info
							%p
								%a{ href: '/contacts/new', style: 'font-size:250%;color:#4099FF;margin-right:0.25em;margin-left:1em;border-bottom:none;' }
									%i.fa.fa-envelope
								
								%a{ href: 'http://twitter.com/gkparishphilp', style: 'font-size:250%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
									%i.fa.fa-twitter-square
								%a{ href: 'http://facebook.com/gkparishphilp', style: 'font-size:250%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
									%i.fa.fa-facebook-square
								%a{ href: 'http://linkedin.com/in/gkparishphilp', style: 'font-size:250%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
									%i.fa.fa-linkedin-square
								%a{ href: 'http://github.com/gkparishphilp', style: 'font-size:250%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
									%i.fa.fa-github-square

				.col-md-7.col-sm-12.col-md-offset-5.main-content
					-#.hidden-sm.hidden-xs{ style: 'float:right;margin-top:-3em;'}
						= render 'application/nav_list', args: { class: 'inline-list' }
					.clearfix
					= render 'application/flash'
					.nav
						%a.select-posts.active{ href: '#' }
							Posts
						%a.select-categories{ href: '#' }
							Categories

					.home-page-posts.animated.fadeIn
						- SwellMedia::Media.where( type: [ 'SwellMedia::Article', 'Maxim' ] ).published.order( publish_at: :desc ).limit( 20 ).each do |article|
							- if article.is_a?( Maxim )
								= render 'maxims/row', maxim: article
							- else
								= render 'swell_media/articles/row', article: article
						%a.pull-right{ href: '/blog?page=2', style: 'font-size:150%;border-bottom:1px solid #777;' }
							More >>
					.home-page-categories.hide.animated.fadeIn
						.category.row
							%section
								- SwellMedia::Category.active.order( :name ).each do |cat|
									.category-preview.col-xs-12.col-sm-6
										.thumbnail
											%a{ href: swell_media.articles_path( category: cat.slug ) }
												= image_tag cat.avatar, alt: "category-image", class: 'img img-responsive'
												.caption
													%h4
														= cat.name
					


					= render 'application/footer'

		= render 'application/analytics'

		= javascript_include_tag "application", "data-turbolinks-track" => true
		= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
