.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					%strong
						Tasks
		.col-xs-2
			%a.btn.btn-success.btn-rad{ data: { toggle: :modal, target: '#new_task' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-6
			= raw paginate @tasks
		-#.col-xs-6
			= form_tag admin_tasks_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellMedia::Article.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', admin_articles_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th
						%a{ href: admin_tasks_path( sort_by: 'name', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_tasks_path( sort_by: 'name', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Due
						%a{ href: admin_tasks_path( sort_by: 'due_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_tasks_path( sort_by: 'due_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Priority
						%a{ href: admin_tasks_path( sort_by: 'priority', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_tasks_path( sort_by: 'priority', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th
				%tbody
					- @tasks.each do |task|
						%tr
							%td
								= link_to task.name, edit_task_path( task.id )
							%td
								= task.due_at.to_s
							%td
								= task.priority
							%td
								.badge{ class: task.status }
									= task.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_task_path( task ) }
												%i.fa.fa-pencil
												Edit
										%li.divider
										%li
											%a{ href: task_path( task ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!




= render 'new_modal', args: {}