.cl-sidebar
	.cl-toggle
		%i.fa.fa-bars
	.cl-navblock
		.menu-space
			.content
				.sidebar-logo
					.logo
						%a{ href: '/' }
							= ENV['APP_NAME']
				.side-user{ style: 'padding: 0 20px;' }
					- if TwitterClient.new( current_user ).present?
						%h3
							Quick Add
						= form_tag main_app.add_admin_index_path do
							.form-group
								= text_area_tag :content, '', class: 'form-control'
							.form-group.pull-right
								= submit_tag 'Add', class: 'btn btn-primary btn-tiny'
						.clearfix

					- else
						%a{ href: main_app.user_omniauth_authorize_path( :twitter ), :class => "popup", :"data-width" => 600, :"data-height" => 400 }
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-twitter.fa-stack-1x.fa-inverse
							%span{ style: 'font-size:150%' }
								Link Twitter
				%ul.cl-vnavigation
					%li.parent
						%a{ href: '#' }
							Blog
						%ul.sub-menu
							%li
								%a{ href: swell_media.admin_articles_path }
									%i.fa.fa-gear
									Admin

							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_article' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- SwellMedia::Article.draft.order( publish_at: :desc ).limit( 10 ).each do |article|
								%li
									%a{ href: swell_media.edit_article_path( article ) }
										= image_tag article.avatar, width: 24, height: 24, class: 'img img-rounded'
										= article.title
					%li.parent
						%a{ href: '#' }
							Categories
						%ul.sub-menu
							%li
								%a{ href: swell_media.admin_categories_path }
									%i.fa.fa-gear
									Admin
							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_category' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- SwellMedia::Category.order( created_at: :desc ).limit( 10 ).each do |category|
								%li
									%a{ href: swell_media.edit_category_path( category ) }
										= image_tag category.avatar, width: 24, height: 24, class: 'img img-rounded'
										= category.name
					%li.parent
						%a{ href: '#' }
							Contacts
						%ul.sub-menu
							%li
								%a{ href: swell_media.admin_articles_path }
									%i.fa.fa-gear
									Admin
							%li.separator
							- SwellMedia::Contact.order( created_at: :desc ).limit( 10 ).each do |contact|
								%li
									%a{ href: swell_media.edit_contact_path( contact ) }
										= contact.email
					%li.parent
						%a{ href: '#' }
							Maxims
						%ul.sub-menu
							%li
								%a{ href: main_app.admin_maxims_path }
									%i.fa.fa-gear
									Admin
							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_maxim' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- Maxim.order( publish_at: :desc ).limit( 10 ).each do |maxim|
								%li
									%a{ href: main_app.edit_maxim_path( maxim ) }
										= truncate( maxim.sanitized_content, length: 36 )
					%li.parent
						%a{ href: '#' }
							Notes
						%ul.sub-menu
							%li
								%a{ href: main_app.admin_notes_path }
									%i.fa.fa-gear
									Admin
							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_note' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- Note.order( publish_at: :desc ).limit( 10 ).each do |note|
								%li
									%a{ href: main_app.edit_note_path( note ) }
										= note.title
					%li.parent
						%a{ href: '#' }
							Pages
						%ul.sub-menu
							%li
								%a{ href: swell_media.admin_pages_path }
									%i.fa.fa-gear
									Admin
							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_page' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- SwellMedia::Page.order( publish_at: :desc ).limit( 10 ).each do |page|
								%li
									%a{ href: swell_media.edit_page_path( page ) }
										= page.title

					%li.parent
						%a{ href: '#' }
							Tasks
						%ul.sub-menu
							%li
								%a{ href: main_app.admin_tasks_path }
									%i.fa.fa-gear
									Admin
							%li
								%a{ href: '#', data: { toggle: :modal, target: '#new_task' } }
									%i.fa.fa-plus-square
									New
							
							%li.separator
							- Task.roots.where( "status < 2" ).order( due_at: :desc ).limit( 10 ).each do |task|
								%li
									%a{ href: main_app.edit_task_path( task ) }
										= task.name



				.inspiration{ style: 'width:80%; margin:24px auto; background:rgba(0,0,0,0.3);padding:12px;color:#555;font-size:120%'}
					%i.fa.fa-quote-left{ style: 'color:#333;' }
					%br
					%span{ style: 'margin-left:24px;'}
						= Maxim.random.try( :sanitized_content )
					%br
					%i.fa.fa-quote-right.pull-right{ style: 'color:#333;' }
					.clearfix


= render 'swell_media/articles/new_modal'
= render 'swell_media/categories/new_modal'
= render 'swell_media/pages/new_modal'
= render 'maxims/new_modal'
= render 'notes/new_modal'
= render 'tasks/new_modal', args: {}





