.cl-sidebar
	.cl-toggle
		%i.fa.fa-bars
	.cl-navblock
		.menu-space
			.content
				.sidebar-logo
					.logo
						%a{ href: '/' }
							= ENV['APP_NAME']
				.side-user{ style: 'padding: 0 20px;' }
					- if TwitterClient.new( current_user ).present?
						%h3
							Quick Add
						= form_tag main_app.add_admin_index_path do
							.form-group
								= text_area_tag :content, '', class: 'form-control'
							.form-group.pull-right
								= submit_tag 'Add', class: 'btn btn-primary btn-tiny'
						.clearfix

					- else
						%a{ href: main_app.user_omniauth_authorize_path( :twitter ), :class => "popup", :"data-width" => 600, :"data-height" => 400 }
							%span.fa-stack.fa-lg
								%i.fa.fa-circle.fa-stack-2x
								%i.fa.fa-twitter.fa-stack-1x.fa-inverse
							%span{ style: 'font-size:150%' }
								Link Twitter
				%ul.cl-vnavigation
					%li.parent
						%a{ href: '#' }
							Blog
						%ul.sub-menu
							%li
								%a{ href: '#' }
									%i.fa.fa-plus-square
									New
							%li
								%a{ href: swell_media.admin_articles_path }
									%i.fa.fa-gear
									Admin
							%li.separator
							- SwellMedia::Article.draft.order( publish_at: :desc ).limit( 10 ).each do |article|
								%li
									%a{ href: swell_media.edit_article_path( article ) }
										= image_tag article.avatar, width: 24, height: 24, class: 'img img-rounded'
										= article.title
					%li
						%a{ href: swell_media.admin_categories_path }
							Categories
					%li
						%a{ href: swell_media.admin_contacts_path }
							Contacts
					%li
						%a{ href: main_app.admin_maxims_path }
							Maxims
					%li
						%a{ href: main_app.admin_notes_path }
							Notes
					%li
						%a{ href: swell_media.admin_pages_path }
							Pages
					%li.parent
						%a{ href: '#' }
							Tasks
						%ul.sub-menu
							%li
								%a{ href: '#' }
									%i.fa.fa-plus-square
									New
							%li
								%a{ href: main_app.admin_tasks_path }
									%i.fa.fa-gear
									Admin
							%li.separator
							- Task.roots.where( "status < 2" ).order( due_at: :desc ).limit( 10 ).each do |task|
								%li
									%a{ href: main_app.edit_task_path( task ) }
										= task.name








