- cache( "row-#{article.cache_key}" ) do
	.post
		%section
			.post-preview.col-xs-10.no-gutter
				%h2
					%a{ href: article.url }
						= article.title
				%p.subtitle
					= raw article.subtitle
				%p.meta
					= article.publish_at.to_date.to_s( :long )
					- if article.category.present?
						in
						= link_to article.category, articles_path( category: article.category.slug )
					- if article.reading_time[:minutes_only] > 0
						%br
						%i.fa.fa-bookmark
						About a 
						= article.reading_time[:minutes_only]
						minute read.
				
					
				

			.col-xs-2.no-gutter
				- if article.avatar.present?
					%a{ href: article.url }
						= image_tag article.avatar, alt: article.title, class: 'img img-responsive img-circle' #class: 'user-icon user-1'
