

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					%strong
						Blog Admin
		.col-xs-2
			%a.btn.btn-success.btn-rad{ data: { toggle: :modal, target: '#new_article' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-6
			= raw paginate @articles
		.col-xs-6
			= form_tag admin_articles_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( SwellMedia::Article.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', admin_articles_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th
						%a{ href: admin_articles_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_articles_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Publish
						%a{ href: admin_articles_path( sort_by: 'publish_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_articles_path( sort_by: 'publish_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th
						Words
						%a{ href: admin_articles_path( sort_by: 'cached_word_count', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_articles_path( sort_by: 'cached_word_count', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th Category
					%th Tags
					%th
				%tbody
					- @articles.each do |article|
						%tr
							%td
								= image_tag article.avatar, width: 50, class: 'img img-rounded'
							%td
								= link_to article.title, edit_article_path( article.id )
							%td
								= article.publish_at.to_s( :slashed_time )
							%td
								= article.try( :cached_word_count ) || 'N/A'
							%td
								.badge{ class: article.status }
									= article.status
							%td
								= article.category.try( :name ) || 'None'
							%td
								= article.tag_list
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_article_path( article ) }
												%i.fa.fa-pencil
												Edit
										%li
											%a{ href: preview_article_path( article.id ) }
												%i.fa.fa-eye
												Preview
										%li.divider
										%li
											%a{ href: article_path( article ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!




= render 'new_modal'