- cache( @media ) do
	- if @media.avatar.present?
		.title-section{ style: 'margin-top:-14em;background-color:rgba(50,50,50,0.8);padding:0.5em 2em;'}
			%h1{ style: 'color: #eee;' }
				= @media.title

			- if @media.subtitle.present?
				%p.subtitle{ style: 'color: #ddd;' }
					= @media.subtitle

			%p.meta
				= @media.author
				on 
				= @media.publish_at.to_date.to_s( :long )
				- if @media.category.present?
					in
					= link_to @media.category, articles_path( category: @media.category.slug )
				%i.link-spacer
				%i.fa.fa-bookmark
				About a 
				= @media.reading_time[:minutes_only]
				minute read.
	- else
		.title-section
			%h1
				= @media.title

			- if @media.subtitle.present?
				%p.subtitle
					= @media.subtitle

			%p.meta
				= @media.author
				on 
				= @media.publish_at.to_date.to_s( :long )
				- if @media.category.present?
					in
					= link_to @media.category, articles_path( category: @media.category.slug )
				%i.link-spacer
				%i.fa.fa-bookmark
				About a 
				= @media.reading_time[:minutes_only]
				minute read.

	%p.content
		= raw @media.content

	.single-footer
		.row
			.col-xs-8
				- if @media.tags.present?
					.category-list
						%p
							Tagged:
						%ul
							- @media.tags.each do |tag|
								%li
									%a{ href: swell_media.articles_path( tagged: tag.name ) }
										= tag.name
			-#.col-xs-4
				%a.btn.btn-writer.btn-like.pull-right{ style: 'margin-top: 2em;' }
					%i.fa.fa-heart
					Like
		


	- if @media.is_commentable?
		%section#comments{ style: 'margin-top:2em;' }
			= render 'application/disqus'



