


.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Songs', main_app.admin_songs_path
				%li
					%strong
						Edit
						Song
		.col-xs-2
			%a.btn.btn-primary{ href: main_app.preview_song_path( @media.id ), target: '_new' }
				%i.fa.fa-eye
				Preview
	
	= form_for @media, as: :song, url: main_app.song_path( @media ) do |f|
		.row
			.col-xs-8
				.form-group
					= f.text_field :title, class: 'form-control input-lg'

				= f.fields_for :properties do |p|
					.form-group
						= p.label :artist
						= p.text_field :artist, value: @media.properties['artist'], class: 'form-control'

				.form-group
					= f.text_area :content, class: 'form-control editor-full', rows: 12


			.col-xs-4
				.well
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: @media.publish_at.to_s( :full_time ), class: 'form-control datepicker'
					.form-group
						= f.label :status
						= f.collection_select :status, Song.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :tag_list, 'Tags:'
						= f.text_field :tag_list, placeholder: 'Separate tags with commas', class: 'form-control'
					.form-group
						= f.check_box :is_commentable, {}, 'true', 'false'
						Allow Comments?
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'