
%p
	Find My on:
	%a{ href: 'http://twitter.com/gkparishphilp', style: 'font-size:150%;color:#4099FF;margin-right:0.25em;margin-left:0.5em;border-bottom:none;', target: '_new' }
		%i.fa.fa-twitter-square
	%a{ href: 'http://facebook.com/gkparishphilp', style: 'font-size:150%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
		%i.fa.fa-facebook-square
	%a{ href: 'http://linkedin.com/in/gkparishphilp', style: 'font-size:150%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
		%i.fa.fa-linkedin-square
	%a{ href: 'http://github.com/gkparishphilp', style: 'font-size:150%;color:#4099FF;margin-right:0.25em;border-bottom:none;', target: '_new' }
		%i.fa.fa-github-square
%p
	I'd love to hear from you!

= form_for @contact do |f|
	.form-group
		= f.label :email
		= f.text_field :email, placeholder: 'Your Email', class: 'form-control'
	.form-group
		= f.label :subject
		= f.text_field :subject, placeholder: 'Subject', class: 'form-control'
	.form-group
		= f.label :message
		= f.text_area :message, rows: 3, class: 'form-control'

	= f.submit 'Send', class: 'btn btn-lg btn-red'