

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Maxims', main_app.admin_maxims_path
				%li
					%strong
						Edit
						Maxim
		.col-xs-2
			%a.btn.btn-primary{ href: main_app.preview_maxim_path( @media.id ), target: '_new' }
				%i.fa.fa-eye
				Preview
	
	= form_for @media, as: :maxim, url: main_app.maxim_path( @media ) do |f|
		.row
			.col-xs-8
				.form-group
					.input-group
					= f.label :avatar, 'Image:'
					.row
						.col-sm-2
							= image_tag @media.avatar, class: 'img-responsive', id: 'media_avatar'
							%div{ style: 'text-align:center;padding:0.3em;' }
								%a{ href: '#', data: { toggle: :assetup, for: '#media_avatar_asset_url,#media_avatar', asset: { asset_type: 'image', use: 'avatar', status: 'active', parent_obj_id: @media.id, parent_obj_type: @media.class.base_class.name }.to_json, params: { authenticity_token: form_authenticity_token() }.to_json } }
									%i.fa.fa-upload
									upload
						.col-sm-10
							= f.hidden_field :avatar_asset_url, class: 'form-control'
							= text_field_tag :avatar_text_field, '', class: 'form-control', placeholder: 'Full Path to Image', data: { inputfor: '#media_avatar_asset_url' }

				.form-group
					= f.text_area :content, class: 'form-control editor-full', rows: 12


			.col-xs-4
				.well
					.form-group
						= f.label :publish_at
						= f.text_field :publish_at, value: @media.publish_at.to_s( :full_time ), class: 'form-control datepicker'
					.form-group
						= f.label :status
						= f.collection_select :status, Maxim.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.label :tag_list, 'Tags:'
						= f.text_field :tag_list, placeholder: 'Separate tags with commas', class: 'form-control'
					.form-group
						= f.check_box :is_commentable, {}, 'true', 'false'
						Allow Comments?
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'